:root {
    --md-primary-fg-color:        #273646;
    --md-primary-fg-color--light: #374c62;
    --md-primary-fg-color--dark: #1c2631;
}

.phalcon-blog__sponsors-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.phalcon-blog__sponsors-items img {
    max-width: 140px;
    width: 100%;
}

.phalcon-blog__sponsors-items a {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(39,54,70,.4);
    padding: 10px 15px;
    border-radius: 4px;
    width: 46%;
    margin-right: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .phalcon-blog__sponsors-items a {
        width: 100%;
        margin-bottom: 20px;
    }
}

.phalcon-blog__sponsors-items a:hover {
    border-bottom-color: #273646;
}
