:root {
    --md-primary-fg-color:        #273646;
    --md-primary-fg-color--light: #374c62;
    --md-primary-fg-color--dark: #1c2631;
}

.phalcon-blog__sponsors-items {
    display: flex;
    flex-wrap: wrap;
}

.phalcon-blog__sponsors-items img {
    max-width: 140px;
    width: 100%;
}

.phalcon-blog__sponsors-items a {
    margin-bottom: 30px;
    margin-right: 20px;
}

.phalcon-blog__sponsors-items a:hover {
    border-bottom-color: #273646;
}
