:root {
    --md-primary-fg-color: #273646;
    --md-primary-fg-color--light: #374c62;
    --md-primary-fg-color--dark: #1c2631;
}

.phalcon-blog__sponsors-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.phalcon-blog__sponsors-items img {
    max-width: 140px;
    width: 100%;
}

.phalcon-blog__sponsors-items a {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(39,54,70,.4);
    padding: 10px 15px;
    border-radius: 4px;
    width: 46%;
    margin-right: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .phalcon-blog__sponsors-items a {
        width: 100%;
        margin-bottom: 20px;
    }
}

.phalcon-blog__sponsors-items a:hover {
    border-bottom-color: #273646;
}

[data-md-color-scheme="slate"] .phalcon-blog__sponsors-items a {
    background-color: #ffffffb3;
}

[data-md-color-scheme="slate"] .md-typeset a {
    color: #00bda4 !important;
}

[data-md-color-scheme="slate"] .md-nav__item .md-nav__link--active {
    color: #00bda4 !important;
}

[data-md-color-scheme="slate"] .md-typeset a:hover {
    color: #02d3b8 !important;
}

[data-md-color-scheme="slate"] .md-nav__item .md-nav__link--active:hover {
    color: #02d3b8 !important;
}

[data-md-color-scheme="slate"] .phalcon-blog__sponsors-items a {
    color: #000000 !important;
    font-weight: bold;
}

[data-md-color-scheme="slate"] .phalcon-blog__sponsors-items a:hover {
    color: #000000 !important;
}


[data-md-color-scheme="slate"] .phalcon-blog__sponsors-items a {
    color: #000000 !important;
    font-weight: bold;
}

[data-md-color-scheme="slate"] .phalcon-blog__sponsors-items a:hover {
    color: #000000 !important;
}

/* Releases page table */
.version-th-center, .version-td-center {
    text-align: center;
}
.version-th-right, .version-td-right {
    text-align: right;
}
.current-version {
    background-color: #d4f4b4;
}
.previous-version {
    background-color: #fef8c6;
}

/* Releases page legend */
.legend {
    padding-left: 0.3em;
    white-space: nowrap;
}

.legend-old-version {
    border-left: 1.2em solid #fdb3ab;
}

.legend-old-version-supported {
    border-left: 1.2em solid #fef8c6;
}

.legend-latest {
    border-left: 1.2em solid #d4f4b4;
}

.legend-preview {
    border-left: 1.2em solid #fed1a0;
}

.legend-future {
    border-left: 1.2em solid #c1e6f5;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 2rem !important;
}
